$dark-button-text-color:  white;
$light-button-text-color: #333;

$colors: (
  watermelon:                                           #FF5B57,
  melon:                                                (bg: #FCAF3B, text: $light-button-text-color),
  lemon:                                                (bg: #FCD727, text: $light-button-text-color),
  banana:                                               (bg: #FDD245, text: $light-button-text-color),
  orange:                                               #E97403,
  cherry:                                               #AB0101,
  raspberry:                                            #E33F4B,
  grape:                                                #4C4A69,
  kiwi:                                                 #A7CF3A,
  apple:                                                #C22126,
  peach:                                                #CE571D,
  lime:                                                 #829A3C,
  strawberry:                                           #DD321E,
  blackberry:                                           #312D2C,
  blueberry:                                            #36384B,

  chromium:                                             #A5A9AC,
  cobalt:                                               (bg: #E0D7C8, text: $light-button-text-color),
  copper:                                               #D17439,
  iron:                                                 #97938A,
  lead:                                                 #8A9199,
  molybdenum:                                           #878883,
  nickel:                                               #A39C93,
  zinc:                                                 #9B989F,
  gold:                                                 #DCA735,
  silver:                                               (bg: #DCDCDC, text: $light-button-text-color),
  uranium:                                              #3A5648,
  neodymium:                                            #807160,
  gallium:                                              (bg: #B5B7B2, text: $light-button-text-color),
  platinum:                                             #4C4B49,
  iridium:                                              (bg: #D7D8D0, text: $light-button-text-color),

  bamboo:                                               #C79743,
  beech:                                                #9C6A39,
  birch:                                                #BC8D63,
  bubinga:                                              #82301B,
  cork:                                                 #834F1D,
  cumaru:                                               #3D1B11,
  cypress:                                              #CB9654,
  jarrah:                                               #562F1E,
  pudauk:                                               #770F18,
  purplehear:                                           #6E1626,
  redoak:                                               #B37A37,
  sapele:                                               #815433,
  wenge:                                                #1D1311,
  teak:                                                 #966731,

  lotus:                                                #D883BA,
  daisy:                                                #F23321,
  rose:                                                 #F11521,
  calendula:                                            (bg: #FDC300, text: $light-button-text-color),
  hibiscus:                                             #E5131E,
  sunflower:                                            (bg: #F8BD07, text: $light-button-text-color),
  orchid:                                               #CB5EAD,
  periwinkle:                                           #788CC9,
  tulip:                                                #F56BA9,
  aster:                                                #8936A0,
  dahlia:                                               #AE1378,
  dianthus:                                             #D91A22,
  lilac:                                                #C91378,
  pansy:                                                (bg: #FEEC06, text: $light-button-text-color),
  canna:                                                #F3221E,
  carnation:                                            #AE141C,
  daffodils:                                            (bg: #F2D205, text: $light-button-text-color),
  peony:                                                #F04798,
  lavander:                                             #79257D,

  sun:                                                  #FDB44F,
  earth:                                                #2D6291,
  mars:                                                 #AE8147,
  venus:                                                #862E1E,
  uranus:                                               (bg: #BFE2E8, text: $light-button-text-color),
  neptune:                                              #473572,
  pluto:                                                #585D61,
  jupiter:                                              #976A41,
  saturn:                                               (bg: #F3CF9C, text: $light-button-text-color),
  mercury:                                              #7C7C7C,

  red:                                                  #FE0000,
  orange-rainbow:                                       #F96604,
  yellow:                                               (bg: #FFFE01, text: $light-button-text-color),
  green:                                                #129D38,
  light-blue:                                           #74C8F1,
  blue:                                                 #1D3C91,
  purple:                                               #812F84,

  sunset-fire-opal:                                     #FFBA02,
  luz-opal:                                             #5E7AA9,
  ocean-opal:                                           #728FAD,
  bismuth:                                              (bg: #FFC5C6, text: $light-button-text-color),
  lightning-opal:                                       #27286B,
  fossil-opal:                                          #B15A24,
  geode:                                                #502260,
  rose-geode:                                           #B92F2D,
  fluorite:                                             #03030B,
  burmese-tourmaline:                                   #64373E,
  malachite:                                            #89A9A6,
  watermelon-tourmaline:                                #C62664,
  azurite:                                              #001170,
  rhodochrosite:                                        #BF000A,
  uvavorite:                                            #007200,
  calcite:                                              #6A1012,
  crocoite:                                             #D2240B,
  cobaltocalcite:                                       #9F7E9D,
  rhodochrosite-pink:                                   #F77FA2,
  crocoite-orange:                                      #E15E0E,

  fluorine:                                             #814F06,
  chlorine:                                             #A4AE4E,
  bromine:                                              #6F0100,
  iodine:                                               #6D1744,
  nitrogen-dioxide:                                     #E05011,
  chromyl-chloride:                                     #6F1F2A,
  ozone:                                                #6366B7,
  sulfur:                                               (bg: #BECA7A, text: $light-button-text-color),
  chlorine-dioxide:                                     #A6AD4F,
  bromine-monochloride:                                 #9F400A,

  red-50:                                               (bg: #FFEBEE, text: $light-button-text-color),
  red-100:                                              (bg: #FFCDD2, text: $light-button-text-color),
  red-200:                                              (bg: #EF9A9A, text: $light-button-text-color),
  red-300:                                              #E57373,
  red-400:                                              #EF5350,
  red-500:                                              #F44336,
  red-600:                                              #E53935,
  red-700:                                              #D32F2F,
  red-800:                                              #C62828,
  red-900:                                              #B71C1C,
  red-A100:                                             (bg: #FF8A80, text: $light-button-text-color),
  red-A200:                                             #FF5252,
  red-A400:                                             #FF1744,
  red-A700:                                             #D50000,

  pink-50:                                              (bg: #FCE4EC, text: $light-button-text-color),
  pink-100:                                             (bg: #F8BBD0, text: $light-button-text-color),
  pink-200:                                             (bg: #F48FB1, text: $light-button-text-color),
  pink-300:                                             #F06292,
  pink-400:                                             #EC407A,
  pink-500:                                             #E91E63,
  pink-600:                                             #D81B60,
  pink-700:                                             #C2185B,
  pink-800:                                             #AD1457,
  pink-900:                                             #880E4F,
  pink-A100:                                            (bg: #FF80AB, text: $light-button-text-color),
  pink-A200:                                            #FF4081,
  pink-A400:                                            #F50057,
  pink-A700:                                            #C51162,

  purple-50:                                            (bg: #F3E5F5, text: $light-button-text-color),
  purple-100:                                           (bg: #E1BEE7, text: $light-button-text-color),
  purple-200:                                           (bg: #CE93D8, text: $light-button-text-color),
  purple-300:                                           #BA68C8,
  purple-400:                                           #AB47BC,
  purple-500:                                           #9C27B0,
  purple-600:                                           #8E24AA,
  purple-700:                                           #7B1FA2,
  purple-800:                                           #6A1B9A,
  purple-900:                                           #4A148C,

  deep-purple-50:                                       (bg: #EDE7F6, text: $light-button-text-color),
  deep-purple-100:                                      (bg: #D1C4E9, text: $light-button-text-color),
  deep-purple-200:                                      (bg: #B39DDB, text: $light-button-text-color),
  deep-purple-300:                                      #9575CD,
  deep-purple-400:                                      #7E57C2,
  deep-purple-500:                                      #673AB7,
  deep-purple-600:                                      #5E35B1,
  deep-purple-700:                                      #512DA8,
  deep-purple-800:                                      #4527A0,
  deep-purple-900:                                      #311B92,
  deep-purple-A100:                                     (bg: #B388FF, text: $light-button-text-color),
  deep-purple-A200:                                     #7C4DFF,
  deep-purple-A400:                                     #651FFF,
  deep-purple-A700:                                     #6200EA,

  indigo-50:                                            (bg: #E8EAF6, text: $light-button-text-color),
  indigo-100:                                           (bg: #C5CAE9, text: $light-button-text-color),
  indigo-200:                                           (bg: #9FA8DA, text: $light-button-text-color),
  indigo-300:                                           #7986CB,
  indigo-400:                                           #5C6BC0,
  indigo-500:                                           #3F51B5,
  indigo-600:                                           #3949AB,
  indigo-700:                                           #303F9F,
  indigo-800:                                           #283593,
  indigo-900:                                           #1A237E,
  indigo-A100:                                          (bg: #8C9EFF, text: $light-button-text-color),
  indigo-A200:                                          #536DFE,
  indigo-A400:                                          #3D5AFE,
  indigo-A700:                                          #304FFE,

  blue-50:                                              (bg: #E3F2FD, text: $light-button-text-color),
  blue-100:                                             (bg: #BBDEFB, text: $light-button-text-color),
  blue-200:                                             (bg: #90CAF9, text: $light-button-text-color),
  blue-300:                                             #64B5F6,
  blue-400:                                             #42A5F5,
  blue-500:                                             #2196F3,
  blue-600:                                             #1E88E5,
  blue-700:                                             #1976D2,
  blue-800:                                             #1565C0,
  blue-900:                                             #0D47A1,
  blue-A100:                                            (bg: #82B1FF, text: $light-button-text-color),
  blue-A200:                                            #448AFF,
  blue-A400:                                            #2979FF,
  blue-A700:                                            #2962FF,

  light-blue-50:                                        (bg: #E1F5FE, text: $light-button-text-color),
  light-blue-100:                                       (bg: #B3E5FC, text: $light-button-text-color),
  light-blue-200:                                       (bg: #81D4FA, text: $light-button-text-color),
  light-blue-300:                                       #4FC3F7,
  light-blue-400:                                       #29B6F6,
  light-blue-500:                                       #03A9F4,
  light-blue-600:                                       #039BE5,
  light-blue-700:                                       #0288D1,
  light-blue-800:                                       #0277BD,
  light-blue-900:                                       #01579B,
  light-blue-A100:                                      (bg: #80D8FF, text: $light-button-text-color),
  light-blue-A200:                                      (bg: #40C4FF, text: $light-button-text-color),
  light-blue-A400:                                      #00B0FF,
  light-blue-A700:                                      #0091EA,

  cyan-50:                                              (bg: #E0F7FA, text: $light-button-text-color),
  cyan-100:                                             (bg: #B2EBF2, text: $light-button-text-color),
  cyan-200:                                             (bg: #80DEEA, text: $light-button-text-color),
  cyan-300:                                             #4DD0E1,
  cyan-400:                                             #26C6DA,
  cyan-500:                                             #00BCD4,
  cyan-600:                                             #00ACC1,
  cyan-700:                                             #0097A7,
  cyan-800:                                             #00838F,
  cyan-900:                                             #006064,
  cyan-A100:                                            (bg: #84FFFF, text: $light-button-text-color),
  cyan-A200:                                            (bg: #18FFFF, text: $light-button-text-color),
  cyan-A400:                                            #00E5FF,
  cyan-A700:                                            #00B8D4,

  teal-50:                                              (bg: #E0F2F1, text: $light-button-text-color),
  teal-100:                                             (bg: #B2DFDB, text: $light-button-text-color),
  teal-200:                                             (bg: #80CBC4, text: $light-button-text-color),
  teal-300:                                             #4DB6AC,
  teal-400:                                             #26A69A,
  teal-500:                                             #009688,
  teal-600:                                             #00897B,
  teal-700:                                             #00796B,
  teal-800:                                             #00695C,
  teal-900:                                             #004D40,
  teal-A100:                                            (bg: #A7FFEB, text: $light-button-text-color),
  teal-A200:                                            (bg: #64FFDA, text: $light-button-text-color),
  teal-A400:                                            #1DE9B6,
  teal-A700:                                            #00BFA5,

  green-50:                                             (bg: #E8F5E9, text: $light-button-text-color),
  green-100:                                            (bg: #C8E6C9, text: $light-button-text-color),
  green-200:                                            (bg: #A5D6A7, text: $light-button-text-color),
  green-300:                                            (bg: #81C784, text: $light-button-text-color),
  green-400:                                            (bg: #66BB6A, text: $light-button-text-color),
  green-500:                                            #4CAF50,
  green-600:                                            #43A047,
  green-700:                                            #388E3C,
  green-800:                                            #2E7D32,
  green-900:                                            #1B5E20,
  green-A100:                                           (bg: #B9F6CA, text: $light-button-text-color),
  green-A200:                                           (bg: #69F0AE, text: $light-button-text-color),
  green-A400:                                           (bg: #00E676, text: $light-button-text-color),
  green-A700:                                           #00C853,

  light-green-50:                                       (bg: #F1F8E9, text: $light-button-text-color),
  light-green-100:                                      (bg: #DCEDC8, text: $light-button-text-color),
  light-green-200:                                      (bg: #C5E1A5, text: $light-button-text-color),
  light-green-300:                                      (bg: #AED581, text: $light-button-text-color),
  light-green-400:                                      (bg: #9CCC65, text: $light-button-text-color),
  light-green-500:                                      #8BC34A,
  light-green-600:                                      #7CB342,
  light-green-700:                                      #689F38,
  light-green-800:                                      #558B2F,
  light-green-900:                                      #33691E,
  light-green-A100:                                     (bg: #CCFF90, text: $light-button-text-color),
  light-green-A200:                                     (bg: #B2FF59, text: $light-button-text-color),
  light-green-A400:                                     (bg: #76FF03, text: $light-button-text-color),
  light-green-A700:                                     #64DD17,

  lime-50:                                              (bg: #F9FBE7, text: $light-button-text-color),
  lime-100:                                             (bg: #F0F4C3, text: $light-button-text-color),
  lime-200:                                             (bg: #E6EE9C, text: $light-button-text-color),
  lime-300:                                             (bg: #DCE775, text: $light-button-text-color),
  lime-400:                                             (bg: #D4E157, text: $light-button-text-color),
  lime-500:                                             #CDDC39,
  lime-600:                                             #C0CA33,
  lime-700:                                             #AFB42B,
  lime-800:                                             #9E9D24,
  lime-900:                                             #827717,
  lime-A100:                                            (bg: #F4FF81, text: $light-button-text-color),
  lime-A200:                                            (bg: #EEFF41, text: $light-button-text-color),
  lime-A400:                                            (bg: #C6FF00, text: $light-button-text-color),
  lime-A700:                                            #AEEA00,

  yellow-50:                                            (bg: #FFFDE7, text: $light-button-text-color),
  yellow-100:                                           (bg: #FFF9C4, text: $light-button-text-color),
  yellow-200:                                           (bg: #FFF59D, text: $light-button-text-color),
  yellow-300:                                           (bg: #FFF176, text: $light-button-text-color),
  yellow-400:                                           (bg: #FFEE58, text: $light-button-text-color),
  yellow-500:                                           #FFEB3B,
  yellow-600:                                           #FDD835,
  yellow-700:                                           #FBC02D,
  yellow-800:                                           #F9A825,
  yellow-900:                                           #F57F17,
  yellow-A100:                                          (bg: #FFFF8D, text: $light-button-text-color),
  yellow-A200:                                          (bg: #FFFF00, text: $light-button-text-color),
  yellow-A400:                                          (bg: #FFEA00, text: $light-button-text-color),
  yellow-A700:                                          #FFD600,

  amber-50:                                             (bg: #FFF8E1, text: $light-button-text-color),
  amber-100:                                            (bg: #FFECB3, text: $light-button-text-color),
  amber-200:                                            (bg: #FFE082, text: $light-button-text-color),
  amber-300:                                            (bg: #FFD54F, text: $light-button-text-color),
  amber-400:                                            (bg: #FFCA28, text: $light-button-text-color),
  amber-500:                                            #FFC107,
  amber-600:                                            #FFB300,
  amber-700:                                            #FFA000,
  amber-800:                                            #FF8F00,
  amber-900:                                            #FF6F00,
  amber-A100:                                           (bg: #FFE57F, text: $light-button-text-color),
  amber-A200:                                           (bg: #FFD740, text: $light-button-text-color),
  amber-A400:                                           (bg: #FFC400, text: $light-button-text-color),
  amber-A700:                                           #FFAB00,

  orange-50:                                            (bg: #FFF3E0, text: $light-button-text-color),
  orange-100:                                           (bg: #FFE0B2, text: $light-button-text-color),
  orange-200:                                           (bg: #FFCC80, text: $light-button-text-color),
  orange-300:                                           (bg: #FFB74D, text: $light-button-text-color),
  orange-400:                                           (bg: #FFA726, text: $light-button-text-color),
  orange-500:                                           #FF9800,
  orange-600:                                           #FB8C00,
  orange-700:                                           #F57C00,
  orange-800:                                           #EF6C00,
  orange-900:                                           #E65100,
  orange-A100:                                          (bg: #FFD180, text: $light-button-text-color),
  orange-A200:                                          (bg: #FFAB40, text: $light-button-text-color),
  orange-A400:                                          (bg: #FF9100, text: $light-button-text-color),
  orange-A700:                                          #FF6D00,

  deep-orange-50:                                       (bg: #FBE9E7, text: $light-button-text-color),
  deep-orange-100:                                      (bg: #FFCCBC, text: $light-button-text-color),
  deep-orange-200:                                      (bg: #FFAB91, text: $light-button-text-color),
  deep-orange-300:                                      (bg: #FF8A65, text: $light-button-text-color),
  deep-orange-400:                                      #FF7043,
  deep-orange-500:                                      #FF5722,
  deep-orange-600:                                      #F4511E,
  deep-orange-700:                                      #E64A19,
  deep-orange-800:                                      #D84315,
  deep-orange-900:                                      #BF360C,
  deep-orange-A100:                                     #FF9E80,
  deep-orange-A200:                                     #FF6E40,
  deep-orange-A400:                                     #FF3D00,
  deep-orange-A700:                                     #DD2C00,

  brown-50:                                             (bg: #EFEBE9, text: $light-button-text-color),
  brown-100:                                            (bg: #D7CCC8, text: $light-button-text-color),
  brown-200:                                            (bg: #BCAAA4, text: $light-button-text-color),
  brown-300:                                            (bg: #A1887F, text: $light-button-text-color),
  brown-400:                                            #8D6E63,
  brown-500:                                            #795548,
  brown-600:                                            #6D4C41,
  brown-700:                                            #5D4037,
  brown-800:                                            #4E342E,
  brown-900:                                            #3E2723,

  gray-50:                                              (bg: #FAFAFA, text: $light-button-text-color),
  gray-100:                                             (bg: #F5F5F5, text: $light-button-text-color),
  gray-200:                                             (bg: #EEEEEE, text: $light-button-text-color),
  gray-300:                                             (bg: #E0E0E0, text: $light-button-text-color),
  gray-400:                                             #BDBDBD,
  gray-500:                                             #9E9E9E,
  gray-600:                                             #757575,
  gray-700:                                             #616161,
  gray-800:                                             #424242,
  gray-900:                                             #212121,

  blue-gray-50:                                         (bg: #ECEFF1, text: $light-button-text-color),
  blue-gray-100:                                        (bg: #CFD8DC, text: $light-button-text-color),
  blue-gray-200:                                        (bg: #B0BEC5, text: $light-button-text-color),
  blue-gray-300:                                        #90A4AE,
  blue-gray-400:                                        #78909C,
  blue-gray-500:                                        #607D8B,
  blue-gray-600:                                        #546E7A,
  blue-gray-700:                                        #455A64,
  blue-gray-800:                                        #37474F,
  blue-gray-900:                                        #263238,

);

@mixin base-button($value) {
  $bg: if(type-of($value) == 'color', $value, map-get($value, 'bg'));
  $text: if(type-of($value) == 'color', $dark-button-text-color, map-get($value, 'text'));

  background-color: $bg;
  color: $text;
  border: 1px solid darken($bg, 10%);

  &:active,
  &:hover,
  &:focus {
    background-color: darken($bg, 10%);
    border-color: darken($bg, 20%) !important;
    color: $text;
  }
}

@each $name, $color in $colors {
  .btn-#{$name} {
    @include base-button($color);
  }
}
